# This software is a part of isar demo.
# Copyright (c) Siemens AG, 2025
#
# SPDX-License-Identifier: MIT

name: build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-demo-images:
    name: Build demo image for (${{ matrix.machine_name }})
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - machine_name: Raspberry Pi 4B
            kas_config: kas/machine/rpi-arm64-v8-efi.yaml
          - machine_name: QEMU AMD64
            kas_config: kas/machine/qemuamd64.yaml
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build image for ${{ matrix.machine_name }}
        run: ./kas-container build kas.yaml:${{ matrix.kas_config }}
      - name: Upload image for ${{ matrix.machine_name }}
        uses: actions/upload-artifact@v4
        with:
          name: demo-image-${{ matrix.machine_name }}
          path: |
            build/tmp/deploy/images/*/*.wic.xz
            build/tmp/deploy/images/*/*.wic.bmap
            build/tmp/deploy/images/*/*.manifest
